<%- include('./includes/head.ejs') %>
    <div class="min-height-300 bg-gradient-info position-absolute w-100"></div>

    </head>

    <body class="g-sidenav-show  bg-gray-100">
        <%- include('./includes/sidebar.ejs') %>
            </aside>

            <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
                <!-- Navbar -->
                <%- include('./includes/navigation.ejs') %>

                    </nav>
                    <!-- End Navbar -->

                    <main class="main-content  mt-0">
                        <section class="min-vh-10 mb-8">
                            <div class="container">
                                <div class="row mt-6">
                                    <div class="col-xl-8 col-lg-5 col-md-7 mx-auto">
                                        <div class="card z-index-0">
                                            <div class="card-header text-center text-info pt-3 pb-0">
                                                <h5>Edit User</h5>
                                            </div>
                                            <div class="card-body mt-0">
                                                <form action="updateUser" method="POST" role="form text-left">
                                                    <div class="mb-3">
                                                        <input type="text" class="form-control "
                                                            value="<%=  userData.name %>"
                                                            name="name" required placeholder="Name" aria-label="Name"
                                                            aria-describedby="name-addon">
                                                    </div>
                                                    <div class="mb-3">
                                                        <input type="email" class="form-control " required
                                                            value="<%=  userData.email %>"
                                                            name="email" required placeholder="Email" aria-label="Email"
                                                            aria-describedby="email-addon">
                                                        <% if (typeof alert !='undefined' ) { %>
                                                            <div role="alert"
                                                                style="color:red; font-size:smaller; text-align: justify;">
                                                                <%if(alert=='Email already exists, please pick a different one.'){%>
                                                                    <%= alert %>
                                                                        <% } %>
                                                            </div>
                                                            <% } %>
                                                    </div>
                                                    <div class="mb-3">
                                                        <input type="text" class="form-control" required name="dob"
                                                            onfocus="(this.type='date')" required placeholder="Enter Birth Date"
                                                            aria-label="Enter Birth Date"
                                                            aria-describedby="birth_date-addon"
                                                            value="<%= userData.dob %>">
                                                    </div>
                                                    <div class="mb-3">
                                                        <input type="text" onkeypress="isNumber(event)" maxlength="10"
                                                            class="form-control " required
                                                            value="<%= userData.phone_no %>"
                                                            name="phone_no" required placeholder="Contact Number"
                                                            aria-label="Contact Number" aria-describedby="tel-addon">
                                                    </div>
                                                    <div class="mb-3">
                                                        <input type="text" class="form-control " name="city"
                                                            required placeholder="City" aria-label="city"
                                                            aria-describedby="name-addon"
                                                            value="<%=userData.city %>">
                                                    </div>
                                                    <div class="text-center">
                                                        <input type="hidden" name="user_id" id="user_id" value="<%=user_id%>">
                                                        <button type="submit"
                                                            class="btn bg-gradient-info w-100 my-4 mb-2">Update Customer
                                                        </button>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>





                        <%- include('./includes/end.ejs') %>